// Page styling
// ============

.page {
    background-color: @primary-color;

    .page-inner {
    }  

    .page-title {
        .responsive-layout;

        color: #fff;
        text-align: center;
    }
    
    .page-title-inner {
        padding: @page-title-padding;
    }
}