<!-- <div>
  <a
    data-gtm-event-context="header-logged-in"
    data-gtm-event-type="invite-click"
    href="/invite?ref=header-logged-in"
  >
    Invite
  </a>
  <div>
    <a
      className="navAvatar"
      href="/profiles/me"
      id="header-member-view-profile-avatar"
      to="/profiles/me"
    >
      <div>
        <ProfilePicture
          member={
            Object {
              "alumnum": false,
              "contactStatus": "anyone",
              "expertise": Array [],
              "image": Object {
                "full": "",
                "thumbnail": "",
                "title": "",
              },
              "jobTitle": "",
              "location": Object {
                "latitude": 25,
                "longitude": 25,
              },
              "memberType": "non-public-servant",
              "name": "Bob Fish",
              "organization": null,
              "sector": "Dentistry",
              "slug": "bob-fish",
              "title": "",
              "visibility": "private",
            }
          }
        />
      </div>
    </Styled(Link)>
    <nav
      className="NavDropdown"
    >
      <ul>
        <li>
          <a
            data-gtm-event-context="own-profile-click"
            data-gtm-event-type="header-logged-in-nav"
            href="/profiles/bob-fish"
            id="header-member-view-profile"
          >
            View Profile
          </a>
        </li>
        <li>
          <a
            data-gtm-event-context="edit-profile-click"
            data-gtm-event-type="header-logged-in-nav"
            href="/members/bob-fish/profile/edit"
            id="header-member-edit-profile"
          >
            Edit Profile
          </a>
        </li>
        <li>
          <a
            data-gtm-event-context="own-messages-click"
            data-gtm-event-type="header-logged-in-nav"
            href="/members/bob-fish/messages"
            id="header-member-messages"
          >
            Messages
          </a>
        </li>
        <li>
          <a
            data-gtm-event-context="friend-requests-click"
            data-gtm-event-type="header-logged-in-nav"
            href="/members/bob-fish/friends/requests"
            id="header-member-connection-reqs"
          >
            Connection Requests
          </a>
        </li>
        <li>
          <a
            data-gtm-event-context="groups-click"
            data-gtm-event-type="header-logged-in-nav"
            href="/members/bob-fish/groups"
            id="header-member-groups"
          >
            Groups
          </a>
        </li>
        <li>
          <a
            data-gtm-event-context="settings-click"
            data-gtm-event-type="header-logged-in-nav"
            href="/members/bob-fish/settings"
            id="header-member-settings"
          >
            Account Settings
          </a>
        </li>
        <li>
          <a
            data-gtm-event-context="logout-click"
            data-gtm-event-type="header-logged-in-nav"
            href="/wp-login.php?action=logout&amp;redirect_to=https%3A%2F%2Fapolitical.co"
            id="header-log-out"
          >
            Log Out
          </a>
        </li>
      </ul>
    </nav>
    <span />
  </div>
</div> -->
