<div class="button-wrapper">
  <a
    class="log-in-button"
    href="/login"
    data-gtm-event-context="login-click"
    data-gtm-event-type="header-logged-out-nav"
  >
    Log In
  </a>
  <a
    class="sign-up-button"
    href="/signup"
    data-gtm-event-context="signup-click"
    data-gtm-event-type="header-logged-out-nav"
  >
    Sign Up
  </a>
</div>
