<div class="header-center">
  <nav class="header-nav" showVerticalNav={false}>
    <ul class="nav-list">
      <li class="nav-tab">
         <a
            href="/solutions/"
            id="header-nav-solutions"
          >
            Explore Policy Solutions
        </a>
      </li>
      <li class="nav-tab">
        <a
          href="/signup/"
          id="header-nav-directory"
        >
          Connect With People
        </a>
      </li>
    </ul>
  </nav>
</div>
