// Notify and Drawer controls (< > x)
// moved existing shared styles into single mixin
// replaces .notify-btn-icon mixin
.ui-btn-ctrl() {
  margin: @ui-btn-controls-margin;
  padding: @ui-btn-controls-padding;
  border-radius: @ui-btn-controls-border-radius;
}
