// Button styles
// Note: default styles include 'filled' and 'outline'
// --------------------------------------------------
@item-color-style: filled;
@item-ui-color-style: filled;
@btn-color-style: filled;
@menu-item-btn-color-style: filled;
@ui-color-style: filled;
@nav-ui-btn-ctrl-color-style: filled;
@notify-ui-btn-ctrl-color-style: filled;
@notify-btn-color-style: filled;
@drawer-ui-btn-ctrl-color-style: filled;
@drawer-item-color-style: filled;
