// Notify and Drawer controls (< > x)
// moved existing shared styles into single mixin
// replaces .notify-btn-icon mixin
// ? could shorthand 'controls' to 'ctrl'?
// * Am happy with shorthand
.ui-btn--controls() {
  margin: @ui-btn-controls-margin;
  padding: @ui-btn-controls-padding;
  border-radius: @ui-btn-controls-border-radius;
}
