// Notify and Drawer controls (< > x)

// DEPRECATED
// for legacy support only, replaced by .ui-btn-ctrl()
.notify-btn-icon() {
  .ui-btn-ctrl();
}
//

.ui-btn-ctrl() {
  margin: @ui-btn-controls-margin;
  padding: @ui-btn-controls-padding;
  border-radius: @ui-btn-controls-border-radius;
}
