// Colour definitions
// --------------------------------------------------
@blue: #117F93;
@blueDark: #263944;
@grey: #DDDDDD;
@greyDark: #4D4D4D;
@greyLight: #f9f9f9;

// These variables are used to change the colour of text
// Primary use is for altering the text colour over a background image
// See ../project/theme-extras.less for block mixin
// --------------------------------------------------
@transparent-light: transparent;
@transparent-dark: transparent;

// Note: If customising a theme for the Authoring Tool please update the
// corresponding default value for that variable in the properties.schema file.
// This is to stop any amended variables below being overwritten by
// the Theme Picker in the Authoring Tool.

// Body, link, and heading colour
// --------------------------------------------------
@body-background-color: @white;

@font-color: @greyDark;
@font-color-inverted: @white;

@link: @font-color;
@link-inverted: @font-color-inverted;

@link-hover: @link;
@link-inverted-hover: @link-inverted;

@heading-color: @blue;
@heading-color-inverted: @white;

// Content Item (components)
// --------------------------------------------------
@item-color: @blue;
@item-color-inverted: @white;

@item-color-hover: darken(@item-color, 10%);
@item-color-inverted-hover: @item-color-inverted;

@item-color-focus: @item-color-hover;
@item-color-inverted-focus: @item-color-inverted-hover;

@item-color-selected: darken(@item-color, 20%);
@item-color-inverted-selected: @item-color-inverted;

// TODO
// aka @item-color-visited but avoiding breaking chnage
// @visited is only used by presentation components
@visited: darken(@item-color, 15%);
@visited-inverted: @item-color-inverted;
//

@item-color-visited: @visited;
@item-color-inverted-visited: @visited-inverted;

@item-color-disabled: @disabled;
@item-color-inverted-disabled: @disabled-inverted;

// Content UI (action not content)
// boxmenu item btn, hotgraphic pin, media transcript, narrative controls/strapline, trickle
// logic: if outputting course content into word doc, these buttons wouldn’t need including
// --------------------------------------------------
@item-ui-color: @item-color;
@item-ui-color-inverted: @item-color-inverted;

@item-ui-color-hover: darken(@item-ui-color, 10%);
@item-ui-color-inverted-hover: @item-ui-color-inverted;

@item-ui-color-focus: @item-ui-color-hover;
@item-ui-color-inverted-focus: @item-ui-color-inverted-hover;

@item-ui-color-selected: darken(@item-ui-color, 20%);
@item-ui-color-inverted-selected: @item-ui-color-inverted;

@item-ui-color-visited: darken(@item-ui-color, 15%);
@item-ui-color-inverted-visited: @item-ui-color-inverted;

@item-ui-color-locked: @disabled;
@item-ui-color-inverted-locked: @disabled-inverted;

@item-ui-color-disabled: @disabled;
@item-ui-color-inverted-disabled: @disabled-inverted;

// Outline
// ? move '-border-width' vars to _spacing-config.less ?
@item-ui-color-border-width: 1px;
@item-ui-color-border-color: @item-ui-color;

// Content Buttons
// --------------------------------------------------
// Filled
@btn-color: @greyDark;
@btn-color-inverted: @white;

@btn-color-hover: darken(@btn-color, 10%);
@btn-color-inverted-hover: @btn-color-inverted;

@btn-color-focus: @btn-color-hover;
@btn-color-inverted-focus: @btn-color-inverted-hover;

@btn-color-selected: darken(@btn-color, 20%);
@btn-color-inverted-selected: @btn-color-inverted;

@btn-color-locked: @disabled;
@btn-color-inverted-locked: @disabled-inverted;

// TODO
// aka @btn-color-disabled but avoiding breaking chnage
@disabled: @grey;
@disabled-inverted: @black;
//

@btn-color-disabled: @disabled;
@btn-color-inverted-disabled: @disabled-inverted;

// Outline
@btn-color-border-width: 1px;
@btn-color-border-color: @btn-color;

// UI (global default for nav, notify, drawer)
// --------------------------------------------------
@ui-color: @white;
@ui-color-inverted: @greyDark;

// Validation states - question marking
// --------------------------------------------------
@validation-success: #065f28;
@validation-success-inverted: @white;

@validation-error: #ff0000;
@validation-error-inverted: @white;

// Progress
// --------------------------------------------------
@progress: @greyDark;
@progress-inverted: @white;
@progress-border: @greyDark;

// Menu
// --------------------------------------------------
@menu-header-background-color: transparent;
@menu-header-title-color: @heading-color;
@menu-header-subtitle-color: @heading-color;
@menu-header-body-color: @font-color;
@menu-header-instruction-color: @font-color;

@menu-item: @white;
@menu-item-inverted: @font-color;
@menu-item-border-color: @item-color;

@menu-item-progress: @progress;
@menu-item-progress-inverted: @progress-inverted;
@menu-item-progress-border: @progress-border;

@menu-item-btn-color: @item-ui-color;
@menu-item-btn-color-inverted: @item-ui-color-inverted;

@menu-item-btn-color-hover: @item-ui-color-hover;
@menu-item-btn-color-inverted-hover: @item-ui-color-inverted-hover;

@menu-item-btn-color-focus: @item-ui-color-hover;
@menu-item-btn-color-inverted-focus: @item-ui-color-inverted-hover;

@menu-item-btn-color-locked: @item-ui-color-locked;
@menu-item-btn-color-inverted-locked: @item-ui-color-inverted-locked;

// Outline
@menu-item-btn-color-border-width: 1px;
@menu-item-btn-color-border-color: @menu-item-btn-color;

// Navigation
// --------------------------------------------------
@nav: @ui-color;
@nav-inverted: @ui-color-inverted;

// UI
@nav-icon: @nav-inverted;
@nav-icon-inverted: @nav;

@nav-icon-hover: darken(@nav-icon, 10%);
@nav-icon-inverted-hover: @nav-icon-inverted;

@nav-icon-focus: @nav-icon-hover;
@nav-icon-inverted-focus: @nav-icon-inverted-hover;

@nav-icon-border-width: 1px;
@nav-icon-border-color: @nav-icon;

@nav-progress: @nav-icon-inverted;
@nav-progress-inverted: @nav-icon;
@nav-progress-border: @nav-icon-inverted;

@nav-progress-hover: @nav-icon-inverted-hover;
@nav-progress-inverted-hover: @nav-progress-inverted;
@nav-progress-border-hover: @nav-progress-border;

// Notify
// --------------------------------------------------
@notify: @ui-color;
@notify-inverted: @ui-color-inverted;

@notify-link: @notify-inverted;

@notify-link-hover: @notify-link;

// UI
@notify-icon: darken(@notify, 10%);
@notify-icon-inverted: @notify-inverted;

@notify-icon-hover: darken(@notify-icon, 10%);
@notify-icon-inverted-hover: @notify-icon-inverted;

@notify-icon-focus: @notify-icon-hover;
@notify-icon-inverted-focus: @notify-icon-inverted-hover;

@notify-icon-disabled: @disabled;
@notify-icon-inverted-disabled: @disabled-inverted;

@notify-icon-border-width: 1px;
@notify-icon-border-color: @notify-icon;

// Button
@notify-btn: @btn-color;
@notify-btn-inverted: @btn-color-inverted;

@notify-btn-hover: darken(@notify-btn, 10%);
@notify-btn-inverted-hover: @notify-btn-inverted;

@notify-btn-focus: @btn-color-focus;
@notify-btn-inverted-focus: @btn-color-inverted-focus;

@notify-btn-selected: @btn-color-selected;
@notify-btn-inverted-selected: @btn-color-inverted-selected;

@notify-btn-locked: @btn-color-locked;
@notify-btn-inverted-locked: @btn-color-inverted-locked;

@notify-btn-disabled: @btn-color-disabled;
@notify-btn-inverted-disabled: @btn-color-inverted-disabled;

// Outline
@notify-btn-border-width: 1px;
@notify-btn-border-color: @notify-btn;

// Drawer
// --------------------------------------------------
@drawer: @ui-color;
@drawer-inverted: @ui-color-inverted;

@drawer-link: @drawer-inverted;

@drawer-link-hover: @drawer-link;

// UI
@drawer-icon: darken(@drawer, 10%);
@drawer-icon-inverted: @drawer-inverted;

@drawer-icon-hover: darken(@drawer-icon, 10%);
@drawer-icon-inverted-hover: @drawer-icon-inverted;

@drawer-icon-focus: @drawer-icon-hover;
@drawer-icon-inverted-focus: @drawer-icon-inverted-hover;

@drawer-icon-border-width: 1px;
@drawer-icon-border-color: @item-ui-color;

// Item
@drawer-item: @drawer;
@drawer-item-inverted: @drawer-inverted;

@drawer-item-hover: darken(@drawer-item, 10%);
@drawer-item-inverted-hover: @drawer-item-inverted;

@drawer-item-focus: darken(@drawer-item-hover, 10%);
@drawer-item-inverted-focus: @drawer-item-inverted-hover;

@drawer-item-selected: darken(@drawer-item, 20%);
@drawer-item-inverted-selected: @drawer-item-inverted;
@drawer-item-selected-underline: @drawer-item-inverted;

@drawer-progress: @drawer-item-inverted;
@drawer-progress-inverted: @drawer-item;
@drawer-progress-border: @drawer-item-inverted;

@drawer-progress-hover: @drawer-item-inverted-hover;
@drawer-progress-inverted-hover: @drawer-item-hover;
@drawer-progress-border-hover: @drawer-progress-border;

// Pull quote
// --------------------------------------------------
@pull-quote: @greyLight;
@pull-quote-inverted: @font-color;
@pull-quote-border: @blue;

// Background
// --------------------------------------------------
@background: @black;
@background-inverted: @white;

// Shadow
// --------------------------------------------------
@shadow: @black;
@shadow-inverted: @white;
@shadow-opacity: 50%;

// Loading
// --------------------------------------------------
@loading: @black;
@loading-inverted: @white;
