// --------------------------------------------------
// Colour definitions
// --------------------------------------------------

// blue: #36CDE8
// grey: #

@red: #ff0000;
@green: #065f28;
// --------------------------------------------------

// --------------------------------------------------
// Colour variables
// --------------------------------------------------
@primary: orange;
@primary-inverted: @white;

@secondary: blue;
@secondary-inverted: @white;

@tertiary: red;
@tertiary-inverted: @white;

@quaternary: green;
@quaternary-inverted: @white;

@quinary: salmon;
@quinary-inverted: @white;

@visited: #727272;
@visited-inverted: @white;

@disabled: #DDDDDD;
@disabled-inverted: @black;
// --------------------------------------------------

// --------------------------------------------------
// Validation states
// --------------------------------------------------
@validation-success: @green;
@validation-success-inverted: @white;

@validation-error: @red;
@validation-error-inverted: @white;
// --------------------------------------------------

// --------------------------------------------------
// Background colours
// --------------------------------------------------
@background-color: @black;
@background-color-inverted: @white;
// --------------------------------------------------

// --------------------------------------------------
// Fonts
// --------------------------------------------------
@font-color: @black;
@font-color-inverted: @white;
// --------------------------------------------------

// --------------------------------------------------
// Item
// --------------------------------------------------
@item-color: @primary;
@item-color-inverted: @primary-inverted;

@item-color-hover: darken(@item-color, 10%);
@item-color-inverted-hover: @item-color-inverted;

@item-color-selected: darken(@item-color, 20%);
@item-color-inverted-selected: @item-color-inverted;
// --------------------------------------------------

// --------------------------------------------------
// Headings
// --------------------------------------------------
@heading-color: @primary;
@heading-color-inverted: @primary-inverted;
// --------------------------------------------------

// --------------------------------------------------
// Button
// --------------------------------------------------
@btn-color: @secondary;
@btn-color-inverted: @secondary-inverted;

@btn-color-hover: darken(@btn-color, 10%);
@btn-color-inverted-hover: @btn-color-inverted;
// --------------------------------------------------

// --------------------------------------------------
// UI buttons
// --------------------------------------------------
// @btn-ui-color: ;
// @btn-ui-color-inverted: ;
// --------------------------------------------------

// --------------------------------------------------
// Navigation
// --------------------------------------------------
@nav: @tertiary;
@nav-inverted: @tertiary-inverted;

@nav-icon: @tertiary-inverted;
@nav-icon-inverted: @tertiary;

@nav-icon-hover: darken(@nav-icon, 10%);
@nav-icon-inverted-hover: @nav-icon-inverted;

@nav-progress: @primary;
@nav-progress-inverted: @primary-inverted;
@nav-progress-border: @primary;
// --------------------------------------------------

// --------------------------------------------------
// Notify
// --------------------------------------------------
@notify: @quaternary;
@notify-inverted: @quaternary-inverted;
// --------------------------------------------------

// --------------------------------------------------
// Drawer
// --------------------------------------------------
// @drawer: @quinary;
// @drawer-inverted: @quinary-inverted;
// --------------------------------------------------





// // --------------------------------------------------
// // Colours
// // --------------------------------------------------
// @theme-blue: #44c1bf;
// @theme-red: #f26c4f;

// @theme-light-grey: #a1a1a1;
// @theme-mid-grey: #37474f;
// @theme-dark-grey: #424242;

// @theme-error: #f26c4f;
// @theme-success: #82ca9c;

// @theme-disabled: #727272;
// @theme-visited: #727272;

// @kineo-cyan: #45c0c0;
// @kineo-pink: #ea1b75;
// @kineo-blue: #00b2e2;
// @kineo-purple: #8f1f61;
// @kineo-green: #97c93c;




// // --------------------------------------------------
// // Page elements
// // ==================================================

// // Component elements
// // ==================================================
// @components-color: @primary-color;
// @components-color-inverted: @primary-color-inverted;

// // Headings
// // ==================================================
// @headings-color: @primary-color;
// @headings-color-inverted: @primary-color-inverted;

// // Buttons
// // ==================================================
// @submit-button-color: @secondary-color;
// @submit-button-color-inverted: @secondary-color-inverted;

// // Notify
// // ==================================================
// @notify-color: @primary-color;
// @notify-color-inverted: @primary-color-inverted;

// // User interface
// // ==================================================
// @ui-color: @tertiary-color;
// @ui-color-inverted: @tertiary-color-inverted;

// // Navigation bar
// // ==================================================
// @navigation-color: @tertiary-color;
// @navigation-color-inverted: @tertiary-color-inverted;

// // Drawer
// // ==================================================
// @drawer-color: @quaternary-color;
// @drawer-color-inverted: @quaternary-color-inverted;

// // Notify UI
// // ==================================================
// @notify-ui-color: @ui-color;
// @notify-ui-color-inverted: @ui-color-inverted;

// // UI buttons
// // ==================================================
// @ui-button-color: @secondary-color;
// @ui-button-color-inverted: @secondary-color-inverted;

// // Validation states
// // ==================================================
// @validation-error: @theme-error;
// @validation-success: @theme-success;

// // Disabled states
// // ==================================================
// @disabled-color: @theme-disabled;
// @disabled-color-inverted: @theme-white;

// // Visited states
// // ==================================================
// @visited-color: @theme-visited;
// @visited-color-inverted: @theme-white;

// // Transparency
// // ==================================================
// @transparency: fade(@theme-white, 75%);
// // @transparency-fallback-png: url('@{asset}transparency-light.png');

