// --------------------------------------------------
// Font declarations
// --------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700');
// --------------------------------------------------

// --------------------------------------------------
// Font family
// --------------------------------------------------
@title-family: 'Open Sans', sans-serif;
@body-family: 'Open Sans', sans-serif;
@btn-family: 'Open Sans', sans-serif;
// --------------------------------------------------

// --------------------------------------------------
// Font weights
// --------------------------------------------------
@font-weight-light: 300;
@font-weight-regular: 400;
@font-weight-bold: 700;

// 100	Thin (Hairline)
// 200	Extra Light (Ultra Light)
// 300	Light
// 400	Normal
// 500	Medium
// 600	Semi Bold (Demi Bold)
// 700	Bold
// 800	Extra Bold (Ultra Bold)
// 900	Black (Heavy)
// --------------------------------------------------

// --------------------------------------------------
// Line heights
// --------------------------------------------------
@title-line-height: 1.2;
@body-line-height: 1.5;
// --------------------------------------------------

// --------------------------------------------------
// Globals
// --------------------------------------------------
@body-size: 1em;
@body-weight: @font-weight-regular;

@instruction-size: 1em;
@instruction-family: @body-family;
@instruction-weight: @font-weight-regular;
@instruction-line-height: @body-line-height;

@btn-size: 1em;
@btn-weight: @font-weight-regular;
@btn-line-height: @body-line-height;

@icon-size: 1.5em;
@icon-weight: @font-weight-regular;
@icon-line-height: 1;

@link-size: 1em;
@link-family: @body-family;
@link-weight: @font-weight-regular;
@link-line-height: @body-line-height;
// --------------------------------------------------

// --------------------------------------------------
// Menu header
// --------------------------------------------------
@menu-title-size: 3em;
@menu-title-family: @title-family;
@menu-title-weight: @font-weight-regular;
@menu-title-line-height: @title-line-height;

@menu-subtitle-size: 2em;
@menu-subtitle-family: @title-family;
@menu-subtitle-weight: @font-weight-light;
@menu-subtitle-line-height: @title-line-height;

@menu-body-size: 1.25em;
@menu-body-family: @body-family;
@menu-body-weight: @font-weight-regular;
@menu-body-line-height: @body-line-height;

@menu-instruction-size: 1.25em;
@menu-instruction-family: @body-family;
@menu-instruction-weight: @font-weight-regular;
@menu-instruction-line-height: @body-line-height;
// --------------------------------------------------

// --------------------------------------------------
// Menu item
// --------------------------------------------------
@menu-item-title-size: 1.25em;
@menu-item-title-family: @title-family;
@menu-item-title-weight: @font-weight-bold;
@menu-item-title-line-height: @title-line-height;

@menu-item-body-size: 1em;
@menu-item-body-family: @body-family;
@menu-item-body-weight: @font-weight-light;
@menu-item-body-line-height: @body-line-height;
// --------------------------------------------------

// --------------------------------------------------
// Page header
// --------------------------------------------------
@page-title-size: 3em;
@page-title-family: @title-family;
@page-title-weight: @font-weight-light;
@page-title-line-height: @title-line-height;

@page-subtitle-size: 2em;
@page-subtitle-family: @title-family;
@page-subtitle-weight: @font-weight-light;
@page-subtitle-line-height: @title-line-height;

@page-body-size: 1.25em;
@page-body-family: @body-family;
@page-body-weight: @font-weight-regular;
@page-body-line-height: @body-line-height;

@page-instruction-size: 1.25em;
@page-instruction-family: @body-family;
@page-instruction-weight: @font-weight-regular;
@page-instruction-line-height: @body-line-height;
// --------------------------------------------------

// --------------------------------------------------
// Page
// --------------------------------------------------
@article-title-size: 2.5em;
@article-title-family: @title-family;
@article-title-weight: @font-weight-regular;
@article-title-line-height: @title-line-height;

@block-title-size: 2.5em;
@block-title-family: @title-family;
@block-title-weight: @font-weight-regular;
@block-title-line-height: @title-line-height;

@component-title-size: 2.5em;
@component-title-family: @title-family;
@component-title-weight: @font-weight-regular;
@component-title-line-height: @title-line-height;

@notify-title-size: 2.5em;
@notify-title-family: @title-family;
@notify-title-weight: @font-weight-regular;
@notify-title-line-height: @title-line-height;

@item-title-size: 1.25em;
@item-title-family: @title-family;
@item-title-weight: @font-weight-regular;
@item-title-line-height: @title-line-height;

// --------------------------------------------------
// Pull quote
// --------------------------------------------------
@pull-quote-title-size: 2.5em;
@pull-quote-title-family: @title-family;
@pull-quote-title-weight: @font-weight-light;
@pull-quote-title-line-height: @title-line-height;

@pull-quote-body-size: 2em;
@pull-quote-body-family: @body-family;
@pull-quote-body-weight: @font-weight-light;
@pull-quote-body-line-height: @body-line-height;
// --------------------------------------------------

// --------------------------------------------------
// Drawer
// --------------------------------------------------
@drawer-item-title-size: 1em;
@drawer-item-title-family: @title-family;
@drawer-item-title-weight: @font-weight-regular;
@drawer-item-title-line-height: @title-line-height;

@drawer-item-body-size: 0.875em;
@drawer-item-body-family: @body-family;
@drawer-item-body-weight: @font-weight-regular;
@drawer-item-body-line-height: @body-line-height;

@resources-filter-btn-size: 1em;
@resources-filter-btn-family: @btn-family;
@resources-filter-btn-weight: @font-weight-regular;
@resources-filter-btn-line-height: @body-line-height;
// --------------------------------------------------

// Body - 16 / 400 / 1.4 (22)
// Instruction - 16 / 700 / 1.4 (22)
// Button - 16 / 400 / 1.4 (22)

// Icon - 24 / 400 / 1 (24)

// Menu title - 48 / 400 / 1.2 (58)
// Menu sub title - 32 / 300 / 1.2 (38)
// Menu body -  20 / 400 / 1.4 (28)

// Menu item title - 20 / 700 / 1.2 (24)
// Menu item body - 16 / 300 / 1.4 (22)

// Page title - 48 / 300 / 1.2 (58)
// Page sub title - 32 / 300 / 1.2 (38)
// Page body - 20 / 400 / 1.4 (28)

// Article title - 36 / 400 / 1.2 (44)

// Block title - 36 / 400 / 1.2 (44)

// Componoent title - 36 / 400 / 1.2 (44)

// Notify title - 36 / 400 / 1.2 (44)


// Pull quote title - 40 / 300 / 1.2 (48)
// Pull quite body - 32 / 300i / 1.4 (44)


// Item title - 20 / 700 / 1.2 (24)
// Drawer title -
// Sub title -
