// --------------------------------------------------
// Smooths the font on the pixel level rather than the subpixel.
// Switching from subpixel rendering to antialiasing for
// light text on dark backgrounds makes it look lighter.
// --------------------------------------------------
.font-smoothing() {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
// --------------------------------------------------

// --------------------------------------------------
// Globals
// --------------------------------------------------
body {
  .font-smoothing;
  // color: @font-color;
  color: @font-color;
  font-family: @body-family;
  font-size: @body-size;
  font-weight: @body-weight;
  line-height: @body-line-height;

  // p {
  //   // Override base.less <p> tag margin
  //   margin-top: 0;
  //   margin-bottom: 0;
  // }
}

.instruction-text() {
  font-family: @instruction-family;
  font-size: @instruction-size;
  font-weight: @instruction-weight;
  line-height: @instruction-line-height;
  font-style: italic;
}

.btn-text() {
  font-family: @btn-family;
  font-size: @btn-size;
  font-weight: @btn-weight;
  line-height: @btn-line-height;
}

.link-text() {
  color: @link;
  font-family: @link-family;
  font-size: @link-size;
  font-weight: @link-weight;
  line-height: @link-line-height;

  .no-touch &:hover {
    color: @link-hover;
    .transition(color @duration ease-in);
  }
}
// --------------------------------------------------

// --------------------------------------------------
// Menu header
// --------------------------------------------------
.menu-title() {
  font-family: @menu-title-family;
  font-size: @menu-title-size;
  font-weight: @menu-title-weight;
  line-height: @menu-title-line-height;
}

.menu-subtitle() {
  font-family: @menu-subtitle-family;
  font-size: @menu-subtitle-size;
  font-weight: @menu-subtitle-weight;
  line-height: @menu-subtitle-line-height;
}

.menu-body() {
  font-family: @menu-body-family;
  font-size: @menu-body-size;
  font-weight: @menu-body-weight;
  line-height: @menu-body-line-height;
}

.menu-instruction() {
  font-family: @menu-instruction-family;
  font-size: @menu-instruction-size;
  font-weight: @menu-instruction-weight;
  line-height: @menu-instruction-line-height;
  font-style: italic;
}
// --------------------------------------------------

// --------------------------------------------------
// Menu item
// --------------------------------------------------
.menu-item-title() {
  font-family: @menu-item-title-family;
  font-size: @menu-item-title-size;
  font-weight: @menu-item-title-weight;
  line-height: @menu-item-title-line-height;
}

.menu-item-body() {
  font-family: @menu-item-body-family;
  font-size: @menu-item-body-size;
  font-weight: @menu-item-body-weight;
  line-height: @menu-item-body-line-height;
}
// --------------------------------------------------

// --------------------------------------------------
// Page header
// --------------------------------------------------
.page-title() {
  font-family: @page-title-family;
  font-size: @page-title-size;
  font-weight: @page-title-weight;
  line-height: @page-title-line-height;
}

.page-subtitle() {
  font-family: @page-subtitle-family;
  font-size: @page-subtitle-size;
  font-weight: @page-subtitle-weight;
  line-height: @page-subtitle-line-height;
}

.page-body() {
  font-family: @page-body-family;
  font-size: @page-body-size;
  font-weight: @page-body-weight;
  line-height: @page-body-line-height;
}

.page-instruction() {
  font-family: @page-instruction-family;
  font-size: @page-instruction-size;
  font-weight: @page-instruction-weight;
  line-height: @page-instruction-line-height;
  font-style: italic;
}
// --------------------------------------------------

// --------------------------------------------------
// Page
// --------------------------------------------------
.article-title() {
  font-family: @article-title-family;
  font-size: @article-title-size;
  font-weight: @article-title-weight;
  line-height: @article-title-line-height;
}

.block-title() {
  font-family: @block-title-family;
  font-size: @block-title-size;
  font-weight: @block-title-weight;
  line-height: @block-title-line-height;
}

.component-title() {
  font-family: @component-title-family;
  font-size: @component-title-size;
  font-weight: @component-title-weight;
  line-height: @component-title-line-height;
}

.notify-title() {
  font-family: @notify-title-family;
  font-size: @notify-title-size;
  font-weight: @notify-title-weight;
  line-height: @notify-title-line-height;
}
// --------------------------------------------------



// --------------------------------------------------
// Drawer
// --------------------------------------------------
.drawer-item-title() {
  font-family: @drawer-item-title-family;
  font-size: @drawer-item-title-size;
  font-weight: @drawer-item-title-weight;
  line-height: @drawer-item-title-line-height;
}

.drawer-item-body() {
  font-family: @drawer-item-body-family;
  font-size: @drawer-item-body-size;
  font-weight: @drawer-item-body-weight;
  line-height: @drawer-item-body-line-height;
}

.resources-filter-btn() {
  font-family: @resources-filter-btn-family;
  font-size: @resources-filter-btn-size;
  font-weight: @resources-filter-btn-weight;
  line-height: @resources-filter-btn-line-height;
}
// --------------------------------------------------


// --------------------------------------------------
// Components
// --------------------------------------------------
.item-title() {
  font-family: @item-title-family;
  font-size: @item-title-size;
  font-weight: @item-title-weight;
  line-height: @item-title-line-height;
}

.pull-quote-title() {
  font-size: @pull-quote-title-size;
  font-family: @pull-quote-title-family;
  font-weight: @pull-quote-title-weight;
  line-height: @pull-quote-title-line-height;
}

.pull-quote-body() {
  font-size: @pull-quote-body-size;
  font-family: @pull-quote-body-family;
  font-weight: @pull-quote-body-weight;
  line-height: @pull-quote-body-line-height;
}
// --------------------------------------------------


// // Variable set font styling
// // ==================================================
// body {
// 	.font-smoothing;
// 	color: @font-body-color;
// 	font-family: @body-text-font-family;
// 	font-size: @body-text-font-size;
// 	font-weight: @body-text-font-weight;
// 	line-height: @body-text-line-height;

// 	.ie8 & {
// 		font-family: Arial, sans-serif;
// 	}
// }



// .button-text {
// 	.font-smoothing;
// 	font-family: @button-text-font-family;
// 	font-size: @button-text-font-size;
// 	font-weight: @button-text-font-weight;
// 	line-height: @button-text-line-height;

// 	@media (max-width: @device-width-small) {
// 		font-size: @button-text-font-size * 0.85;
// 	}
// }

// // Menu
// // ==================================================
// .menu-title {
// 	.font-smoothing;
// 	font-family: @menu-title-font-family;
// 	font-size: @menu-title-font-size;
// 	font-weight: @menu-title-font-weight;
// 	line-height: @menu-title-line-height;

// 	@media (max-width: @device-width-small) {
// 		font-size: @menu-title-font-size * 0.85;
// 	}
// }

// .menu-item-title {
// 	.font-smoothing;
// 	font-family: @menu-item-title-font-family;
// 	font-size: @menu-item-title-font-size;
// 	font-weight: @menu-item-title-font-weight;
// 	line-height: @menu-item-title-line-height;

// 	@media (max-width: @device-width-small) {
// 		font-size: @menu-item-title-font-size * 0.85;
// 	}
// }

// // Page header
// // ==================================================
// .page-title {
// 	.font-smoothing;
// 	font-family: @page-title-font-family;
// 	font-size: @page-title-font-size;
// 	font-weight: @page-title-font-weight;
// 	line-height: @page-title-line-height;

// 	@media (max-width: @device-width-small) {
// 		font-size: @page-title-font-size * 0.85;
// 	}
// }

// .page-body {
// 	.font-smoothing;
// 	font-family: @page-body-font-family;
// 	font-size: @page-body-font-size;
// 	font-weight: @page-body-font-weight;
// 	line-height: @page-body-line-height;

// 	@media (max-width: @device-width-small) {
// 		font-size: @page-body-font-size * 0.8;
// 	}
// }

// // Page
// // ==================================================
// .article-title {
// 	.font-smoothing;
// 	font-family: @article-title-font-family;
// 	font-size: @article-title-font-size;
// 	font-weight: @article-title-font-weight;
// 	line-height: @article-title-line-height;

// 	@media (max-width: @device-width-small) {
// 		font-size: @article-title-font-size * 0.85;
// 	}
// }

// .block-title {
// 	.font-smoothing;
// 	font-family: @block-title-font-family;
// 	font-size: @block-title-font-size;
// 	font-weight: @block-title-font-weight;
// 	line-height: @block-title-line-height;

// 	@media (max-width: @device-width-small) {
// 		font-size: @block-title-font-size * 0.85;
// 	}
// }

// .component-title {
// 	.font-smoothing;
// 	font-family: @component-title-font-family;
// 	font-size: @component-title-font-size;
// 	font-weight: @component-title-font-weight;
// 	line-height: @component-title-line-height;

// 	@media (max-width: @device-width-small) {
// 		font-size: @component-title-font-size * 0.85;
// 	}
// }

// .notify-popup-title {
// 	.font-smoothing;
// 	font-family: @notify-title-font-family;
// 	font-size: @notify-title-font-size;
// 	font-weight: @notify-title-font-weight;
// 	line-height: @notify-title-line-height;

// 	@media (max-width: @device-width-small) {
// 		font-size: @notify-title-font-size * 0.85;
// 	}
// }

// // Misc
// // ==================================================
// .item-title {
// 	.font-smoothing;
// 	font-family: @item-title-font-family;
// 	font-size: @item-title-font-size;
// 	font-weight: @item-title-font-weight;
// 	line-height: @item-title-line-height;

// 	@media (max-width: @device-width-small) {
// 		font-size: @item-title-font-size * 0.85;
// 	}
// }

// .sub-title {
// 	.font-smoothing;
// 	font-family: @sub-title-font-family;
// 	font-size: @sub-title-font-size;
// 	font-weight: @sub-title-font-weight;
// 	line-height: @sub-title-line-height;

// 	@media (max-width: @device-width-small) {
// 		font-size: @sub-title-font-size * 0.85;
// 	}
// }

// .mcq-item {
// 	// mirror item title line-height
// 	.mcq-item-inner {
// 		line-height: (@item-title-font-size * 0.85) * @item-title-line-height;
// 	}
// }

// .drawer-title {
// 	font-family: @drawer-title-font-family;
// 	font-size: @drawer-title-font-size;
// 	font-weight: @drawer-title-font-weight;
// 	line-height: @drawer-title-line-height;

// 	@media (max-width: @device-width-small) {
// 		font-size: @drawer-title-font-size * 0.85;
// 	}
// }