// --------------------------------------------------
// Icon
// --------------------------------------------------
@icon-padding: 1em;
// --------------------------------------------------

// --------------------------------------------------
// Item
// --------------------------------------------------
@item-margin: 0.5em;
@item-padding: 1em;
// --------------------------------------------------

// --------------------------------------------------
// Button
// --------------------------------------------------
@btn-margin: 1em;
@btn-paddiing: 1em;
// --------------------------------------------------

// --------------------------------------------------
// Menu header text margin
// --------------------------------------------------
@menu-title-margin: 1em;
@menu-subtitle-margin: 1em;
@menu-body-margin: 1em;
@menu-instruction-margin: 1em;
// --------------------------------------------------

// --------------------------------------------------
// Menu item text margin
// --------------------------------------------------
@menu-item-title-margin: 0.75em;
@menu-item-body-margin: 1em;
// --------------------------------------------------

// --------------------------------------------------
// Page header text margin
// --------------------------------------------------
@page-title-margin: 0.5em;
@page-subtitle-margin: 1em;
@page-body-margin: 1em;
@page-instruction-margin: 1em;

// --------------------------------------------------
// Page text margin
// --------------------------------------------------
@article-title-margin: 1em;
@article-body-margin: 1em;
@article-instruction-margin: 1em;

@block-title-margin: 1em;
@block-body-margin: 1em;
@block-instruction-margin: 1em;

@component-title-margin: 1em;
@component-body-margin: 1em;
@component-instruction-margin: 1em;

@notify-title-margin: 1em;
@notify-body-margin: 1em;
@notify-instruction-margin: 1em;

@item-title-margin: 1em;
// --------------------------------------------------
