// --------------------------------------------------
// Screen sizings
// --------------------------------------------------
@device-width-small: unit(@adapt-device-small, em);
@device-width-medium: unit(@adapt-device-medium, em);
@device-width-large: unit(@adapt-device-large, em);

@max-width: 87.5em;
// --------------------------------------------------

// --------------------------------------------------
// Menu container and header padding
// --------------------------------------------------
@menu-padding-ver: 0;
@menu-padding-hoz: 0.5em;

@menu-header-padding-ver: 2em;
@menu-header-padding-hoz: 0;
// --------------------------------------------------

// --------------------------------------------------
// Page container and header padding
// --------------------------------------------------
@page-padding-ver: 0;
@page-padding-hoz: 0.5em;

@page-header-padding-ver: 2em;
@page-header-padding-hoz: 0.5em;

// --------------------------------------------------
// Article header padding
// --------------------------------------------------
@article-header-padding-ver: 0;
@article-header-padding-hoz: 0.5em;
// --------------------------------------------------

// --------------------------------------------------
// Block padding
// --------------------------------------------------
@block-padding-ver: 4em;
@block-padding-hoz: 0.5em;
// --------------------------------------------------
