// Content item
.item-color() {
  background-color: @item-color;
  color: @item-color-inverted;
}

.item-color-hover() {
  background-color: @item-color-hover;
  color: @item-color-inverted-hover;
  .transition(background-color @duration ease-in, color @duration ease-in;);
}

.item-color-focus() {
  background-color: @item-color-focus;
  color: @item-color-inverted-focus;
}

.item-color-selected() {
  background-color: @item-color-selected;
  color: @item-color-inverted-selected;
}

.item-color-visited() {
  background-color: @visited;
  color: @visited-inverted;
}

.item-color-disabled() {
  background-color: @item-color-disabled;
  color: @item-color-inverted-disabled;
}

// Content item ui button
.item-ui-color() {
  background-color: @item-ui-color;
  color: @item-ui-color-inverted;
}

.item-ui-color-hover() {
  background-color: @item-ui-color-hover;
  color: @item-ui-color-inverted-hover;
  .transition(background-color @duration ease-in, color @duration ease-in;);
}

.item-ui-color-focus() {
  background-color: @item-ui-color-focus;
  color: @item-ui-color-inverted-focus;
}

.item-ui-color-visited() {
  background-color: @item-ui-color-visited;
  color: @item-ui-color-inverted-visited;
}

.item-ui-color-selected() {
  background-color: @item-ui-color-selected;
  color: @item-ui-color-inverted-selected;
}

.item-ui-color-locked() {
  background-color: @item-ui-color-locked;
  color: @item-ui-color-inverted-locked;
}

.item-ui-color-disabled() {
  background-color: @item-ui-color-disabled;
  color: @item-ui-color-inverted-disabled;
}

// Content buttons
.btn-color() {
  background-color: @btn-color;
  color: @btn-color-inverted;
}

.btn-color-hover() {
  background-color: @btn-color-hover;
  color: @btn-color-inverted-hover;
  .transition(background-color @duration ease-in, color @duration ease-in;);
}

.btn-color-focus() {
  background-color: @btn-color-focus;
  color: @btn-color-inverted-focus;
}

.btn-color-selected() {
  background-color: @btn-color-selected;
  color: @btn-color-inverted-selected;
}

.btn-color-locked() {
  background-color: @btn-color-locked;
  color: @btn-color-inverted-locked;
}

.btn-color-disabled() {
  background-color: @btn-color-disabled;
  color: @btn-color-inverted-disabled;
}

// Menu item
.menu-item-btn-color() {
  background-color: @menu-item-btn-color;
  color: @menu-item-btn-color-inverted;
}

.menu-item-btn-color-hover() {
  background-color: @menu-item-btn-color-hover;
  color: @menu-item-btn-color-inverted-hover;
  .transition(background-color @duration ease-in, color @duration ease-in;);
}

.menu-item-btn-color-focus() {
  background-color: @menu-item-btn-color-focus;
  color: @menu-item-btn-color-inverted-focus;
}

.menu-item-btn-color-locked() {
  background-color: @menu-item-btn-color-locked;
  color: @menu-item-btn-color-inverted-locked;
}

// UI (nav, notify, drawer)
// TODO expand nav and notify mixins to include border?
// Nav UI
.nav-ui-btn-color-ctrl() {
  background-color: @nav-icon;
  color: @nav-icon-inverted;
}

.nav-ui-btn-color-ctrl-hover() {
  background-color: @nav-icon-hover;
  color: @nav-icon-inverted-hover;
  .transition(background-color @duration ease-in, color @duration ease-in;);
}

// Notify UI
.notify-ui-btn-color-ctrl() {
  background-color: @notify-icon;
  color: @notify-icon-inverted;
}

.notify-ui-btn-color-ctrl-hover() {
  background-color: @notify-icon-hover;
  color: @notify-icon-inverted-hover;
  .transition(background-color @duration ease-in, color @duration ease-in;);
}

// Notify button
.notify-btn-color() {
  background-color: @notify-btn;
  color: @notify-btn-inverted;
}

.notify-btn-color-hover() {
  background-color: @notify-btn-hover;
  color: @notify-btn-inverted-hover;
  .transition(background-color @duration ease-in, color @duration ease-in;);
}

.notify-btn-color-focus() {
  background-color: @notify-btn-focus;
  color: @notify-btn-inverted-focus;
}

.notify-btn-color-selected() {
  background-color: @notify-btn-selected;
  color: @notify-btn-inverted-selected;
}

.notify-btn-color-locked() {
  background-color: @notify-btn-locked;
  color: @notify-btn-inverted-locked;
}

.notify-btn-color-disabled() {
  background-color: @notify-btn-disabled;
  color: @notify-btn-inverted-disabled;
}

// Drawer UI
.drawer-ui-btn-color-ctrl() {
  background-color: @drawer-icon;
  color: @drawer-icon-inverted;
}

.drawer-ui-btn-color-ctrl-hover() {
  background-color: @drawer-icon-hover;
  color: @drawer-icon-inverted-hover;
  .transition(background-color @duration ease-in, color @duration ease-in;);
}

// Drawer item
.drawer-item-color() {
  background-color: @drawer-item;
  color: @drawer-item-inverted;
  border-color: @drawer-item-hover;
}

.drawer-item-color-hover() {
  background-color: @drawer-item-hover;
  color: @drawer-item-inverted-hover;
  border-color: @drawer-item-hover;
  .transition(background-color @duration ease-in, color @duration ease-in, border @duration ease-in;);
}

.drawer-item-color-focus() {
  background-color: @drawer-item-focus;
  color: @drawer-item-inverted-focus;
  border-color: @drawer-item-focus;
}

.drawer-item-color-locked() {
  background-color: @disabled;
  color: @disabled-inverted;
  border-color: @drawer-item-hover;
}

.drawer-item-color-selected() {
  background-color: @drawer-item-selected;
  color: @drawer-item-inverted-selected;
  border-color: @drawer-item-hover;
}
