// Content item
.item-color() {
  background-color: @item-color;
  color: @item-color-inverted;
}

.item-color-hover() {
  background-color: @item-color-hover;
  color: @item-color-inverted-hover;
  .transition(background-color @duration ease-in, color @duration ease-in;);
}

.item-color-focus() {
  background-color: @item-color-focus;
  color: @item-color-inverted-focus;
}

.item-color-selected() {
  background-color: @item-color-selected;
  color: @item-color-inverted-selected;
}

.item-color-visited() {
  background-color: @visited;
  color: @visited-inverted;
}

.item-color-disabled() {
  background-color: @item-color-disabled;
  color: @item-color-inverted-disabled;
}

// Content item ui button
.item-ui-color() {
  background-color: @item-ui-color;
  color: @item-ui-color-inverted;
}

.item-ui-color-hover() {
  background-color: @item-ui-color-hover;
  color: @item-ui-color-inverted-hover;
  .transition(background-color @duration ease-in, color @duration ease-in;);
}

.item-ui-color-focus() {
  background-color: @item-ui-color-focus;
  color: @item-ui-color-inverted-focus;
}

.item-ui-color-visited() {
  background-color: @item-ui-color-visited;
  color: @item-ui-color-inverted-visited;
}

.item-ui-color-selected() {
  background-color: @item-ui-color-selected;
  color: @item-ui-color-inverted-selected;
}

.item-ui-color-locked() {
  background-color: @item-ui-color-locked;
  color: @item-ui-color-inverted-locked;
}

.item-ui-color-disabled() {
  background-color: @item-ui-color-disabled;
  color: @item-ui-color-inverted-disabled;
}

// Content buttons
.btn-color() {
  background-color: @btn-color;
  color: @btn-color-inverted;
}

.btn-color-hover() {
  background-color: @btn-color-hover;
  color: @btn-color-inverted-hover;
  .transition(background-color @duration ease-in, color @duration ease-in;);
}

.btn-color-focus() {
  background-color: @btn-color-focus;
  color: @btn-color-inverted-focus;
}

.btn-color-selected() {
  background-color: @btn-color-selected;
  color: @btn-color-inverted-selected;
}

.btn-color-locked() {
  background-color: @btn-color-locked;
  color: @btn-color-inverted-locked;
}

.btn-color-disabled() {
  background-color: @btn-color-disabled;
  color: @btn-color-inverted-disabled;
}

@button-states-single:
  item-color,
  btn-color;

each(@button-states-single, {
  .@{value} {
    background-color: @@value;
    color: ~'@{@{value}-inverted}';
  }

  .@{value}-hover {
    background-color: ~'@{@{value}-hover}';
    color: ~'@{@{value}-inverted-hover}';
  }

  .@{value}-focus {
    background-color: ~'@{@{value}-focus}';
    color: ~'@{@{value}-inverted-focus}';
  }

  .@{value}-selected {
    background-color: ~'@{@{value}-selected}';
    color: ~'@{@{value}-inverted-selected}';
  }

  & when not (@value = btn-color) {
  // & when not (@value = btn-color) or (@value = btn-color-outline) {
    .@{value}-visited {
      background-color: ~'@{@{value}-visited}';
      color: ~'@{@{value}-inverted-visited}';
    }
  }

  & when not (@value = item-color) {
    .@{value}-locked {
      background-color: ~'@{@{value}-locked}';
      color: ~'@{@{value}-inverted-locked}';
    }
  }

  .@{value}-disabled {
    background-color: ~'@{@{value}-disabled}';
    color: ~'@{@{value}-inverted-disabled}';
  }
});

// @button-states-multi: {
//   btn-color: btn-color-inverted;
// }

// each(@button-states-multi, {
//   .@{key} {
//     background-color: @@key;
//     color: @@value;
//   }
// });


// Filled
.btn-color-filled() {
  background-color: @btn-color;
  color: @btn-color-inverted;
}

.btn-color-filled-hover() {
  background-color: @btn-color-hover;
  color: @btn-color-inverted-hover;
  .transition(background-color @duration ease-in, color @duration ease-in;);
}

.btn-color-filled-focus() {
  background-color: @btn-color-focus;
  color: @btn-color-inverted-focus;
}

.btn-color-filled-selected() {
  background-color: @btn-color-selected;
  color: @btn-color-inverted-selected;
}

.btn-color-filled-locked() {
  background-color: @btn-color-locked;
  color: @btn-color-inverted-locked;
}

.btn-color-filled-disabled() {
  background-color: @btn-color-disabled;
  color: @btn-color-inverted-disabled;
}

// Outline
.btn-color-outline() {
  background-color: @btn-color-outline;
  color: @btn-color-outline-inverted;
  box-shadow: 0 0 0 1px @btn-color-outline-box-shadow inset;
}

.btn-color-outline-hover() {
  background-color: @btn-color-outline-hover;
  color: @btn-color-outline-inverted-hover;
  box-shadow: 0 0 0 1px @btn-color-outline-box-shadow-hover inset;
  .transition(background-color @duration ease-in, color @duration ease-in, box-shadow @duration ease-in;);
}

.btn-color-outline-focus() {
  background-color: @btn-color-outline-focus;
  color: @btn-color-outline-inverted-focus;
  box-shadow: 0 0 0 1px @btn-color-outline-box-shadow-focus inset;
}

.btn-color-outline-selected() {
  background-color: @btn-color-outline-selected;
  color: @btn-color-outline-inverted-selected;
  box-shadow: 0 0 0 1px @btn-color-outline-box-shadow-selected inset;
}

.btn-color-outline-locked() {
  background-color: @btn-color-outline-locked;
  color: @btn-color-outline-inverted-locked;
  box-shadow: 0 0 0 1px @btn-color-outline-box-shadow-locked inset;
}

.btn-color-outline-disabled() {
  background-color: @btn-color-outline-disabled;
  color: @btn-color-outline-inverted-disabled;
  box-shadow: 0 0 0 1px @btn-color-outline-box-shadow-disabled inset;
}

// Plain
.btn-color-plain() {
  background-color: @btn-color-plain;
  color: @btn-color-plain-inverted;
}

.btn-color-plain-hover() {
  background-color: @btn-color-plain-hover;
  color: @btn-color-plain-inverted-hover;
  .transition(background-color @duration ease-in, color @duration ease-in;);
}

.btn-color-plain-focus() {
  background-color: @btn-color-plain-focus;
  color: @btn-color-plain-inverted-focus;
}

.btn-color-plain-selected() {
  background-color: @btn-color-plain-selected;
  color: @btn-color-plain-inverted-selected;
}

.btn-color-plain-locked() {
  background-color: @btn-color-plain-locked;
  color: @btn-color-plain-inverted-locked;
}

.btn-color-plain-disabled() {
  background-color: @btn-color-plain-disabled;
  color: @btn-color-plain-inverted-disabled;
}








// Menu item
.menu-item-btn-color() {
  background-color: @menu-item-btn-color;
  color: @menu-item-btn-color-inverted;
}

.menu-item-btn-color-hover() {
  background-color: @menu-item-btn-color-hover;
  color: @menu-item-btn-color-inverted-hover;
  .transition(background-color @duration ease-in, color @duration ease-in;);
}

.menu-item-btn-color-focus() {
  background-color: @menu-item-btn-color-focus;
  color: @menu-item-btn-color-inverted-focus;
}

.menu-item-btn-color-locked() {
  background-color: @menu-item-btn-color-locked;
  color: @menu-item-btn-color-inverted-locked;
}

// UI (nav, notify, drawer)
// TODO expand nav and notify mixins to include border
// Nav UI
.nav-ui-btn-color-ctrl() {
  background-color: @nav-icon;
  color: @nav-icon-inverted;
}

.nav-ui-btn-color-ctrl-hover() {
  background-color: @nav-icon-hover;
  color: @nav-icon-inverted-hover;
  .transition(background-color @duration ease-in, color @duration ease-in;);
}

.nav-ui-btn-color-ctrl-focus() {
  background-color: @nav-icon-focus;
  color: @nav-icon-inverted-focus;
}

// Notify UI
.notify-ui-btn-color-ctrl() {
  background-color: @notify-icon;
  color: @notify-icon-inverted;
}

.notify-ui-btn-color-ctrl-hover() {
  background-color: @notify-icon-hover;
  color: @notify-icon-inverted-hover;
  .transition(background-color @duration ease-in, color @duration ease-in;);
}

.notify-ui-btn-color-ctrl-focus() {
  background-color: @notify-icon-focus;
  color: @notify-icon-inverted-focus;
}

// Notify button
.notify-btn-color() {
  background-color: @notify-btn;
  color: @notify-btn-inverted;
}

.notify-btn-color-hover() {
  background-color: @notify-btn-hover;
  color: @notify-btn-inverted-hover;
  .transition(background-color @duration ease-in, color @duration ease-in;);
}

.notify-btn-color-focus() {
  background-color: @notify-btn-focus;
  color: @notify-btn-inverted-focus;
}

.notify-btn-color-selected() {
  background-color: @notify-btn-selected;
  color: @notify-btn-inverted-selected;
}

.notify-btn-color-locked() {
  background-color: @notify-btn-locked;
  color: @notify-btn-inverted-locked;
}

.notify-btn-color-disabled() {
  background-color: @notify-btn-disabled;
  color: @notify-btn-inverted-disabled;
}

// Drawer UI
.drawer-ui-btn-color-ctrl() {
  background-color: @drawer-icon;
  color: @drawer-icon-inverted;
}

.drawer-ui-btn-color-ctrl-hover() {
  background-color: @drawer-icon-hover;
  color: @drawer-icon-inverted-hover;
  .transition(background-color @duration ease-in, color @duration ease-in;);
}

.drawer-ui-btn-color-ctrl-focus() {
  background-color: @drawer-icon-focus;
  color: @drawer-icon-inverted-focus;
}

// Drawer item
.drawer-item-color() {
  background-color: @drawer-item;
  color: @drawer-item-inverted;
  border-color: @drawer-item-hover;
}

.drawer-item-color-hover() {
  background-color: @drawer-item-hover;
  color: @drawer-item-inverted-hover;
  border-color: @drawer-item-hover;
  .transition(background-color @duration ease-in, color @duration ease-in, border @duration ease-in;);
}

.drawer-item-color-focus() {
  background-color: @drawer-item-focus;
  color: @drawer-item-inverted-focus;
  border-color: @drawer-item-focus;
}

.drawer-item-color-locked() {
  background-color: @disabled;
  color: @disabled-inverted;
  border-color: @drawer-item-hover;
}

.drawer-item-color-selected() {
  background-color: @drawer-item-selected;
  color: @drawer-item-inverted-selected;
  border-color: @drawer-item-hover;
}
