// Font setup
// ==========

@import url(//fonts.googleapis.com/css?family=Lato:200,300,400,700);

@font-face {
  font-family: 'icomoon';
  src:  url('https://assets.apolitical.co/fonts/icomoon.eot?u9jqdu#iefix') format('embedded-opentype'),
        url('https://assets.apolitical.co/fonts/icomoon.ttf?u9jqdu') format('truetype'),
        url('https://assets.apolitical.co/fonts/icomoon.woff?u9jqdu') format('woff'),
        url('https://assets.apolitical.co/fonts/icomoon.svg?u9jqdu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('https://assets.apolitical.co/fonts/fontawesome-webfont.eot?v=4.0.1');
  src: url('https://assets.apolitical.co/fonts/fontawesome-webfont.eot?#iefix&v=4.0.1') format('embedded-opentype'),
       url('https://assets.apolitical.co/fonts/fontawesome-webfont.woff?v=4.0.1') format('woff'),
       url('https://assets.apolitical.co/fonts/fontawesome-webfont.ttf?v=4.0.1') format('truetype'),
       url('https://assets.apolitical.co/fonts/fontawesome-webfont.svg?v=4.0.1#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Global Font size hack */
/* Sets up the Base 10 stuff */
html {
  font-size: 62.5%;
}

@font-family: 'Lato', sans-serif;

@font-weight-light: 300;
@font-weight-regular: 400;
@font-weight-bold: 700;

@menu-title-font-size: 48px;
@page-title-font-size: 48px;
@component-title-font-size: 36px;
@item-title-font-size: 24px;
@sub-title-font-size: 18px;

@body-text-font-size: 16px;
@instruction-text-font-size: 16px;
@button-text-font-size: 18px;

@title-line-height: 120%;
@body-line-height: 140%;

@icon-size: 24px;
@radio-size: @body-text-font-size;
@radio-line-height: @icon-size


// Detailed Font setup
// ===================

@menu-title-font-weight: @font-weight-light;
@menu-title-line-height: @title-line-height;

@page-title-font-weight: @font-weight-light;
@page-title-line-height: @title-line-height;

@component-title-font-weight: @font-weight-light;
@component-title-line-height: @title-line-height;

@item-title-font-weight: @font-weight-light;
@item-title-line-height: @title-line-height;

@sub-title-font-weight: @font-weight-light;
@sub-title-line-height: @title-line-height;

@body-text-font-weight: @font-weight-regular;
@body-text-line-height: @body-line-height;

@instruction-text-font-weight: @font-weight-bold;
@instruction-text-line-height: @body-line-height;

@button-text-font-weight: @font-weight-light;
@button-text-line-height: @body-line-height;
