.site-title {
	width: 3rem;
	height: 3rem;
	display: block;
	text-indent: -9999px;
	white-space: nowrap;
	overflow: hidden;
	background-image: url(https://assets.apolitical.co/logos/stamp.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
  // TODO: Change to variable to match generic.less
    @media only screen and (min-width: 768px) {
    	width: 125px;
    	background-size: 97% auto;
    	background-image: url(https://assets.apolitical.co/logos/apolitical-logo-light.svg);
    }
}
