.search-input {
	height: 94%;
	width: 100%;
	margin-left: 4rem;
  font-size: 1.4rem;
	font-weight: 300;
	color: rgb(86, 90, 92);
	opacity: .7;
	font-weight: 100;
	border: 0;
	@media only screen and (max-width: 767px) {
    	color: rgb(85, 85, 85);
    	height: 100%;
    	position: relative;
    	padding: 0;
    	line-height: 4rem;
    	font-size: 2.3rem;
    	border: 0;
    	font-weight: 300;
    }

	&:focus {
		background-color: @white;
	}

  ::-webkit-input-placeholder {
  	color: #e3e3e3;
  }
  :-moz-placeholder {
  	color: #e3e3e3;
  }
  ::-moz-placeholder {
  	color: #e3e3e3;
  }
  :-ms-input-placeholder {
  	color: #e3e3e3;
  }
}
