<div class='menu-inner box-menu-inner clearfix'>
	{{#if title}}
	<div class="menu-title">
		<h1 class="menu-title-inner">
			{{{title}}}
		</h1>
	</div>
	{{/if}}
	{{#if body}}
	<div class="menu-body">
		<div class="menu-body-inner">
			{{{body}}}
		</div>
	</div>
	{{/if}}
</div>