<div class="drawer-inner">
	<div class="drawer-toolbar clearfix">
		<div class="drawer-back-button">
		<a href="#" class="drawer-back icon icon-controls-small-left" role="button" aria-label="{{previous}}">
		</a>
		</div>
		<div class="drawer-close-button">
		<a href="#" class="drawer-close icon icon-cross" role="button" aria-label="{{closeDrawer}}">
		</a>
		</div>
	</div>
	<div class="drawer-holder">
	</div>
</div>