<div class="drawer-inner">
	<div class="drawer-toolbar clearfix">
		<a href="#" class="drawer-back icon icon-controls-small-left" alt="back">
		</a>
		<a href="#" class="drawer-close icon icon-cross" alt="exit">
		</a>
	</div>
	<div class="drawer-holder">
	</div>
</div>