{{! Maintainers - Daryl Hedley}}
{{! .article-container: Adapt will place the pages articles inside this class}}
<div class="page-inner article-container" role="main" aria-label="{{_globals._accessibility._ariaLabels.page}}">
    {{! Check if a page title exist and render it}}
    {{#if displayTitle}}
    <div class="page-title" role="heading">
        <div class="page-title-inner h1" tabindex="0" role="heading" aria-level="1">
            {{{displayTitle}}}
        </div>
    </div>
    {{/if}}
</div>
<div class="aria-label a11y-ignore-focus prevent-default" tabindex="0" aria-label="{{_globals._accessibility._ariaLabels.pageEnd}}"/>