// --------------------------------------------------
// DRAWER UI COLOUR MIXINS
// --------------------------------------------------

// Default - Filled
.drawer-ui-btn-ctrl-color() {
  // background-color: @drawer-icon;
  // color: @drawer-icon-inverted;
  background-color: var(--adapt-drawer-icon);
  color: var(--adapt-drawer-icon-inverted);
}

.drawer-ui-btn-ctrl-color-hover() {
  // background-color: @drawer-icon-hover;
  // color: @drawer-icon-inverted-hover;
  .transition(background-color @duration ease-in, color @duration ease-in;);
  background-color: var(--adapt-drawer-icon-hover);
  color: var(--adapt-drawer-icon-inverted-hover);
}

.drawer-ui-btn-ctrl-color-focus() {
  // background-color: @drawer-icon-focus;
  // color: @drawer-icon-inverted-focus;
  background-color: var(--adapt-drawer-icon-focus);
  color: var(--adapt-drawer-icon-inverted-focus);
}

// Outline
.drawer-ui-btn-ctrl-color-outline() {
  // background-color: @drawer-icon;
  // color: @drawer-icon-inverted;
  // box-shadow: 0 0 0 @ui-btn-controls-border-width @drawer-icon-inverted inset;
  background-color: var(--adapt-drawer-icon);
  color: var(--adapt-drawer-icon-inverted);
  box-shadow: 0 0 0 @ui-btn-controls-border-width var(--adapt-drawer-icon-inverted) inset;
}

.drawer-ui-btn-ctrl-color-outline-hover() {
  // .drawer-ui-btn-ctrl-color-hover;
  // box-shadow: 0 0 0 @ui-btn-controls-border-width @drawer-icon-hover inset;
  .transition(background-color @duration ease-in, color @duration ease-in, box-shadow @duration ease-in;);
  background-color: var(--adapt-drawer-icon-hover);
  color: var(--adapt-drawer-icon-inverted-hover);
  box-shadow: 0 0 0 @ui-btn-controls-border-width var(--adapt-drawer-icon-hover) inset;
}

.drawer-ui-btn-ctrl-color-outline-focus() {
  // .drawer-ui-btn-ctrl-color-focus;
  // box-shadow: 0 0 0 @ui-btn-controls-border-width @drawer-icon-focus inset;
  background-color: var(--adapt-drawer-icon-focus);
  color: var(--adapt-drawer-icon-inverted-focus);
  box-shadow: 0 0 0 @ui-btn-controls-border-width var(--adapt-drawer-icon-focus) inset;
}

// Plain
// .drawer-ui-btn-ctrl-color-plain() {
//   background-color: transparent;
//   color: @drawer-icon-inverted;
// }

// .drawer-ui-btn-ctrl-color-plain-hover() {
//   background-color: transparent;
//   color: @drawer-icon-hover;
//   .transition(background-color @duration ease-in, color @duration ease-in, box-shadow @duration ease-in;);
// }

// .drawer-ui-btn-ctrl-color-plain-focus() {
//   background-color: transparent;
//   color: @drawer-icon-focus;
// }
