// --------------------------------------------------
// DRAWER UI COLOUR MIXINS
// --------------------------------------------------

// Default - Filled
.drawer-ui-btn-ctrl-color() {
  background-color: @drawer-icon;
  color: @drawer-icon-inverted;
}

.drawer-ui-btn-ctrl-color-hover() {
  background-color: @drawer-icon-hover;
  color: @drawer-icon-inverted-hover;
  .transition(background-color @duration ease-in, color @duration ease-in;);
}

.drawer-ui-btn-ctrl-color-focus() {
  background-color: @drawer-icon-focus;
  color: @drawer-icon-inverted-focus;
}

// Outline
.drawer-ui-btn-ctrl-color-outline() {
  background-color: @drawer-icon;
  color: @drawer-icon-inverted;
  box-shadow: 0 0 0 @ui-btn-controls-border-width @drawer-icon-inverted inset;
}

.drawer-ui-btn-ctrl-color-outline-hover() {
  .drawer-ui-btn-ctrl-color-hover;
  box-shadow: 0 0 0 @ui-btn-controls-border-width @drawer-icon-hover inset;
  .transition(background-color @duration ease-in, color @duration ease-in, box-shadow @duration ease-in;);
}

.drawer-ui-btn-ctrl-color-outline-focus() {
  .drawer-ui-btn-ctrl-color-focus;
  box-shadow: 0 0 0 @ui-btn-controls-border-width @drawer-icon-focus inset;
}
