// --------------------------------------------------
// MENU ITEM BUTTON COLOUR MIXINS
// --------------------------------------------------

// Default - Filled
.menu-item-btn-color() {
  background-color: @menu-item-btn-color;
  color: @menu-item-btn-color-inverted;
  border-radius: @menu-item-btn-border-radius;
}

.menu-item-btn-color-hover() {
  background-color: @menu-item-btn-color-hover;
  color: @menu-item-btn-color-inverted-hover;
  .transition(background-color @duration ease-in, color @duration ease-in;);
}

.menu-item-btn-color-focus() {
  background-color: @menu-item-btn-color-focus;
  color: @menu-item-btn-color-inverted-focus;
}

.menu-item-btn-color-locked() {
  background-color: @menu-item-btn-color-locked;
  color: @menu-item-btn-color-inverted-locked;
}

// Outline
.menu-item-btn-color-outline() {
  background-color: @menu-item-btn-color-inverted;
  color: @menu-item-btn-color;
  box-shadow: 0 0 0 @menu-item-btn-border-width @menu-item-btn-color inset;
  border-radius: @menu-item-btn-border-radius;
}

.menu-item-btn-color-outline-hover() {
  .menu-item-btn-color-hover;
  box-shadow: 0 0 0 @menu-item-btn-border-width @menu-item-btn-color-hover inset;
  .transition(background-color @duration ease-in, color @duration ease-in, box-shadow @duration ease-in;);
}

.menu-item-btn-color-outline-focus() {
  .menu-item-btn-color-focus;
  box-shadow: 0 0 0 @menu-item-btn-border-width @menu-item-btn-color-focus inset;
}

.menu-item-btn-color-outline-selected() {
  .menu-item-btn-color-selected;
  box-shadow: 0 0 0 @menu-item-btn-border-width @menu-item-btn-color-selected inset;
}

.menu-item-btn-color-outline-locked() {
  .menu-item-btn-color-locked;
  box-shadow: 0 0 0 @menu-item-btn-border-width @menu-item-btn-color-locked inset;
}

.menu-item-btn-color-outline-disabled() {
  .menu-item-btn-color-disabled;
  box-shadow: 0 0 0 @menu-item-btn-border-width @menu-item-btn-color-disabled inset;
}
