// Component styling
// =================

.component {
    .component-inner{
    }

    .component-title{
        margin-bottom: @component-title-margin-bottom;
        color: @title-color;
    }

    .component-title-inner {
        padding: @component-title-padding;
    }

    .component-body{
        margin: @component-body-margin;
    }

    .component-body-inner{
        padding: @component-body-padding;
    }

    .component-instruction {
        margin-bottom: @component-instruction-margin-bottom;
        .instruction-text;
    }

    .component-instruction-inner {
        &.validation-error {
            color: @validation-error-text-color;
        }
    }
}