.article {
  position: relative;

  & > .has-bg-image {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    width: 100%;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
  }

  &__header-inner {
    .l-container-padding(@article-header-padding-ver, @article-header-padding-hoz);
  }

  &__title {
    margin-bottom: @article-title-margin;
    .article-title;
    color: @heading-color;
  }

  &__body {
    margin-bottom: @article-body-margin;
  }

  &__instruction {
    margin-bottom: @article-instruction-margin;
    .instruction-text;
  }

  &__body a,
  &__instruction a {
    .link-text;
  }
}
