.article {
  &__header {
    .l-container-padding(@article-header-padding-ver, @article-header-padding-hoz);
  }

  &__title {
    margin-bottom: @article-title-margin;
    color: @heading-color;
    .article-title;
  }

  &__body {
    margin-bottom: @article-body-margin;
  }

  &__instruction {
    margin-bottom: @article-instruction-margin;
    .instruction-text;
  }
}
