.block {
  &__inner {
    .l-container-padding(@block-padding-ver, @block-padding-hoz);
  }

  &__title {
    margin-bottom: @block-title-margin;
    color: @heading-color;
    .block-title;
  }

  &__body {
    margin-bottom: @block-body-margin;
  }

  &__instruction {
    margin-bottom: @block-instruction-margin;
    .instruction-text;
  }
}
