.btn {
  &__container {
    margin-top: @btn-margin;
  }

  // ? Should this stay in this file?
  // ? Specific font styling for text only buttons
  &-text {
    .button-text;
  }
  // ? end

  // ? Should we move these styles elsewhere?
  // ? A: Yes, in time these should be defined elsewhere as they are generic for
  // ?  either text or icon buttons. This file focuses on question buttons
  &-text {
    border-radius: @btn-border-radius;
  }

  &-icon {
    border-radius: @btn-border-radius;
  }

  &-icon.is-locked {
    cursor: not-allowed;
  }
  // ? end

  &__action,
  &__feedback {
    .btn-color;

    .no-touch &:not(.is-disabled):not(.is-locked):hover {
      .btn-color-hover;
    }

    html:not(.a11y-disable-focusoutline) &:focus-visible {
      .btn-color-focus;
    }
  }

  &__action.is-disabled,
  &__feedback.is-disabled {
    .btn-color-disabled;
  }

  &__marking {
    padding: @item-padding * 0.75;
    border-radius: 50%;
  }

  .can-show-marking &__action.is-full-width,
  .can-show-marking &__feedback.is-full-width {
    margin-inline-end: @icon-size + (@item-margin * 2) + ((@item-padding * 0.75) * 2);
  }
}
