.drawer {
  &__item-btn {
    display: block;
    padding: @drawer-item-padding-ver @drawer-item-padding-hoz;
    margin: @drawer-item-margin;
    border-bottom: @drawer-item-border-width solid;
    border-radius: @drawer-item-border-radius;

    & when (@drawer-item-margin > 0) {
      @total-margin: @drawer-item-margin * 2;
      width: calc(100% ~'-' @total-margin);
      border: @drawer-item-border-width solid;
    }

    .drawer-item-color();

    .no-touch &:not(.is-disabled):not(.is-locked):hover {
      .drawer-item-color-hover;
    }

    html:not(.a11y-disable-focusoutline) &:not(.is-disabled):not(.is-locked):focus-visible {
      .drawer-item-color-focus;
    }
  }

  &__item-btn.is-disabled {
    .drawer-item-color-locked;
  }

  // aria-current="true" is used by languagePicker
  &__item-btn[aria-current="true"],
  &__item-btn.is-selected {
    .drawer-item-color-selected;
  }

  &__item-title {
    margin-bottom: @drawer-title-margin;
    .drawer-item-title;
    text-align: start;
  }

  &__item-body {
    margin-bottom: @drawer-body-margin;
    .drawer-item-body;
    text-align: start;
  }
}
