.drawer {
  background-color: @drawer;
  color: @drawer-inverted;

  &__toolbar {
    border-bottom: 1px solid @drawer-item-hover;
  }

  &__btn {
    .ui-btn--controls;
    .drawer-ui-btn-color--controls;

    .no-touch &:not(.is-disabled):not(.is-locked):hover {
      .drawer-ui-btn-color--controls-hover;
    }
  }
}
