.drawer {
  &__item-btn {
    display: block;
    padding: @item-padding; // ? set padding and margin vars as per Nav and Notify?
    border-bottom: 1px solid; // TODO: set as var
    .drawer-item-color();

    .no-touch &:not(.is-disabled):not(.is-locked):hover {
      .drawer-item-color-hover;
    }
  }

  //? is disabled state needed?
  //? disabled drawer items include locked or selected states only
  &__item-btn.is-disabled {
    .drawer-item-color-locked
  }

  &__item-btn.is-selected {
    .drawer-item-color-selected;
  }

  &__item-title {
    margin-bottom: @drawer-title-margin;
    .drawer-item-title;
    text-align: start;
  }

  &__item-body {
    margin-bottom: @drawer-body-margin;
    .drawer-item-body;
    text-align: start;
  }
}