.drawer {
  &__inner {
    position: relative;
    height: 100%;
  }

  // --------------------------------------------------
  // Add top padding equal to the height of the navigation bar
  // --------------------------------------------------
  &__holder {
    padding-top: @navigation-height;
  }
  // --------------------------------------------------

  // --------------------------------------------------
  // Reposition the toolbar to visually sit at the top of the drawer
  // --------------------------------------------------
  &__toolbar {
    position: absolute;
    top: 0;
    width: 100%;
  }
  // --------------------------------------------------
}
