.drawer {
  background-color: @drawer;
  color: @drawer-inverted;

  &__toolbar {
    border-bottom: 1px solid @drawer-item-hover;
  }

  &__btn {
    .ui-btn-ctrl;

    & when (@drawer-ui-btn-ctrl-color-style = filled) {
      .drawer-ui-btn-ctrl-color;

      .no-touch &:not(.is-disabled):not(.is-locked):hover {
        .drawer-ui-btn-ctrl-color-hover;
      }

      html:not(.a11y-disable-focusoutline) &:focus-visible {
        .drawer-ui-btn-ctrl-color-focus;
      }
    }

    & when (@drawer-ui-btn-ctrl-color-style = outline) {
      .drawer-ui-btn-ctrl-color-outline;

      .no-touch &:not(.is-disabled):not(.is-locked):hover {
        .drawer-ui-btn-ctrl-color-outline-hover;
      }

      html:not(.a11y-disable-focusoutline) &:focus-visible {
        .drawer-ui-btn-ctrl-color-outline-focus;
      }
    }
  }
}
