body {
  background-color: @body-background-color;
}

.inline-icon {
  display: inline-block;
  vertical-align: middle;
}

// Quote related styling
// override browser defined margins with rem unit
blockquote,
figure {
  margin: @item-margin * 2;
}

// styled quote with attribution
.figure-quote {
  .quote-body;
}

.figure-quote blockquote {
  margin: 0;
}

.figure-quote figcaption {
  .quote-attribution;
}
