.loading {
  // background-color: fade(@shadow, @shadow-opacity);
  // color: @shadow-inverted;
  background-color: var(--adapt-shadow);
  color: var(--adapt-shadow-inverted);

  &__inner {
    .l-fill-viewport-absolute;
    text-indent: -9999rem;
  }

  &__inner {
    width: 3rem;
    height: 3rem;
    // border: .25rem solid fade(@loading, 50%);
    // border-top-color: @loading-inverted;
    border-width: .25rem;
    border-style: solid;
    border-color: var(--adapt-loading);
    border-top-color: var(--adapt-loading-inverted);
    border-radius: 50%;
    .effect-spin;
  }
}
