// Loading overlay styling
// =======================

.loading {
    position: fixed!important; // Needs to be fixed otherwise loading layout can be incorrect
    background-color: @transparency;
    text-align: center;

    .no-opacity & {
    	background-image: @transparency-fallback-png;
    }

    .loader-gif {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      left: 50%;
      margin-top: -64px;
      margin-left: -64px;
      position: absolute;
      top: 50%;
      .item-title;
    }

    .loader-message {
      margin-bottom: 25px;
    }

    .spinner {
      animation: rotation 2s infinite linear;
      background-image: url(https://assets.apolitical.co/images/spinner.png);
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 100%;
      @keyframes rotation {
        from {transform: rotate(0deg);}
        to   {transform: rotate(359deg);}
      }
      width: 64px;
      height: 64px;
    }
}
