.loading {
  background-color: fade(@shadow, @shadow-opacity);
  color: @shadow-inverted;

  &__inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-indent: -9999rem;
  }

  &__inner {
    width: 3rem;
    height: 3rem;
    border: .25rem solid fade(@loading, 50%);
    border-top-color: @loading-inverted;
    border-radius: 50%;
    .effect-spin;
  }
}
