.nav {
  background-color: @nav;

  &__inner {
    max-width: inherit;
  }

  &__inner {
    padding-left: @nav-btn-margin / 2;
    padding-right: @nav-btn-margin / 2;
  }

  &__btn {
    margin: @nav-btn-margin (@nav-btn-margin / 2);
    padding: @nav-btn-padding-ver @nav-btn-padding-hoz;
    .nav-ui-btn-color--controls;
    border-radius: @nav-btn-border-radius;

    .no-touch &:not(.is-disabled):not(.is-locked):hover {
      .nav-ui-btn-color--controls-hover;
    }
  }

  &__btn-label {
    font-size: @nav-btn-label-size;
  }
}
