.nav {
  background-color: @nav;
  padding-top: var(--adapt-navigation-padding);

  &__inner {
    max-width: inherit;
  }

  &__btn {
    background-color: @nav-icon;
    color: @nav-icon-inverted;

    .no-touch &:not(.is-disabled):not(.is-locked):hover {
      background-color: @nav-icon-hover;
      color: @nav-icon-inverted-hover;
      .transition(background-color @duration ease-in, color @duration ease-in;);
    }
  }

  &__btn-label {
    font-size: @nav-btn-label-size;
  }
}
