.nav {
  background-color: @nav;

  &__inner {
    max-width: inherit;
  }

  &__inner {
    padding-left: @nav-btn-margin / 2;
    padding-right: @nav-btn-margin / 2;
  }

  &__btn {
    margin: @nav-btn-margin (@nav-btn-margin / 2);
    padding: @nav-btn-padding-ver @nav-btn-padding-hoz;
    .nav-ui-btn-color-ctrl;
    border-radius: @nav-btn-border-radius;

    .no-touch &:not(.is-disabled):not(.is-locked):hover {
      .nav-ui-btn-color-ctrl-hover;
    }

    html:not(.a11y-disable-focusoutline) &:not(.is-disabled):not(.is-locked):focus-visible {
      .nav-ui-btn-color-ctrl-focus;
    }
  }

  &__btn-label {
    font-size: @nav-btn-label-size;
  }
}
