.notify-push {
  background-color: @notify;
  color: @notify-inverted;
  .transform(translateY(25px));
  .transition(opacity @duration ease-in-out, transform @duration ease-in-out;);

  &.is-active {
    .transform(translateY(0));
  }

  &__inner {
    padding-top: @item-padding;
    padding-bottom: @item-padding;
    padding-inline: @item-padding unit(@icon-size + @btn-margin + @btn-padding + @item-padding, rem);
  }

  &__title {
    margin-bottom: @notify-title-margin;
    .notify-title;
  }

  &__body a {
    .link-text;
    color: @notify-link;

    .no-touch &:hover {
      color: @notify-link-hover;
      .transition(color @duration ease-in);
    }
  }

  &__close-btn {
    position: absolute;
    top: 0;
    right: 0;
    .ui-btn--controls;
    .notify-ui-btn--controls;

    .no-touch &:not(.is-disabled):not(.is-locked):hover {
      .notify-ui-btn--controls-hover;
    }

    .dir-rtl & {
      right: auto;
      left: 0;
    }
  }
}
