.notify {
  &__popup {
    background-color: @notify;
    color: @notify-inverted;
  }

  &__popup-inner {
    position: relative;
    .l-container-padding(@block-padding-ver, @block-padding-hoz);
  }

  &__title {
    margin-bottom: @notify-title-margin;
    .notify-title;
  }

  &__body {
    margin-bottom: @notify-body-margin;
  }

  &__instruction {
    margin-bottom: @notify-instruction-margin;
    .instruction-text;
  }

  &__close-btn {
    position: absolute;
    top: 0;
    right: 0;

    .dir-rtl & {
      right: inherit;
      left: 0;
    }
  }

  // --------------------------------------------------
  // Notify prompt type icon
  // --------------------------------------------------
  // &__icon {
  //   position: absolute;
  //   top: 0;
  //   right: 0;

  //   .dir-rtl & {
  //     right: inherit;
  //     left: 0;
  //   }
  // }
  // --------------------------------------------------
}
