.notify {
  &__popup-inner {
    position: relative;
    .l-container-responsive(@device-width-large);
    .l-container-padding(@block-padding-ver, @block-padding-hoz);
  }

  // --------------------------------------------------
  //
  // --------------------------------------------------
  // &__icon {
  //   position: absolute;
  //   top: 0;
  //   right: 0;

  //   .dir-rtl & {
  //     right: inherit;
  //     left: 0;
  //   }
  // }
  // --------------------------------------------------

  &__close-btn {
    position: absolute;
    top: 0;
    right: 0;

    .dir-rtl & {
      right: inherit;
      left: 0;
    }
  }

  // --------------------------------------------------
  // Sets up full width title and 50/50 text/image split below
  // --------------------------------------------------
  @media (min-width: @device-width-medium) {
    &__content.has-image {
      .notify__content-inner {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }

      .notify__title {
        width: 100%;
      }

      .notify__body,
      .notify__image-container {
        width: 50%;
      }
    }
  }
  // --------------------------------------------------

  // --------------------------------------------------
  // Left aligns image in notify pop up
  // --------------------------------------------------
  @media (min-width: @device-width-medium) {
    &__content.align-image-left {
      .notify__content-inner {
        flex-direction: row-reverse;
      }
    }
  }
  // --------------------------------------------------
}
