.page {
  position: relative;
  max-width: inherit;
  .l-container-padding(@page-padding-ver, @page-padding-hoz);

  &.has-bg-image > .background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
  }

  &__inner {
    position: relative;
  }

  &__header {
    position: relative;
    display: none;
  }

  &__header.has-bg-image > .background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
  }

  &__header-inner {
    position: relative;
    .l-container-padding(@page-header-padding-ver, @page-header-padding-hoz);
  }

  &__title {
    margin-bottom: @page-title-margin;
    .page-title;
    color: @heading-color;
  }

  &__subtitle {
    margin-bottom: @page-subtitle-margin;
    .page-subtitle;
  }

  &__body {
    margin-bottom: @page-body-margin;
    .page-body;
  }

  &__instruction {
    margin-bottom: @page-instruction-margin;
    .page-instruction;
  }

  &__body a,
  &__instruction a {
    .link-text;
  }
}

html.is-nav-top #wrapper {
  padding-top: 0px;
}

#adapt {
  overflow: hidden;
  overscroll-behavior: none;
}
