.page {
  max-width: inherit;
  .l-container-padding(@page-padding-ver, @page-padding-hoz);

  &.has-bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
  }

  &__header.has-bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
  }

  &__header-inner {
    .l-container-padding(@page-header-padding-ver, @page-header-padding-hoz);
  }

  &__title {
    margin-bottom: @page-title-margin;
    .page-title;
    color: @heading-color;
  }

  &__subtitle {
    margin-bottom: @page-subtitle-margin;
    .page-subtitle;
  }

  &__body {
    margin-bottom: @page-body-margin;
    .page-body;
  }

  &__instruction {
    margin-bottom: @page-instruction-margin;
    .page-instruction;
  }

  &__body a,
  &__instruction a {
    .link-text;
  }
}
